* {
	box-sizing: border-box;
}
body {
	font-family: monospace;
	font-size: 2rem;
	text-align: center;
}

.tabs {
	display: flex;
	flex-direction: row; 
	justify-content: flex-start; 
	align-items: center;
}

button {
	display: flex;
    margin: 5px;
	width: 120px;
	background: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;	
}

ul {
    list-style-type: none;
}

